.error{
    border:2px solid red;
    border-radius: 0.25rem;
    padding:0.5rem 1rem;
    text-align: center;
    width: 50%;
    background-color: #ccc;
    margin: 0 auto;
}
.success{
    border:2px solid green;
    border-radius: 0.25rem;
    padding:0.5rem 1rem;
    text-align: center;
    width: 50%;
    background-color: #ccc;
    margin: 0 auto;
}