.btn-hide{
    padding: 0.5rem 1rem;
    border: 0;
    background-color: #008CBA;
    color: #fff;
    border-radius: 0.25rem;
    font-size: 14px;
    line-height: 1.25;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .2s linear;
}

.btn-hide:hover{
    background-color: #0076ba;
    color: #fff;
}

.btn-show{
    padding: 0.5rem 1rem;
    border: 0;
    background-color: #008CBA;
    color: #fff;
    border-radius: 0.25rem;
    font-size: 14px;
    line-height: 1.25;
    text-transform: capitalize;
    cursor: pointer;
}

.btn-show:hover{
    background-color: #0076ba;
    color: #fff;
}